
.slider-container {
    position: relative;
}

.slider-container img{
    width: 100%;
}

.slider-dots {
    text-align: center;
}

.fa-circle {
    color: aqua;
    margin: 10px;
    position: relative;
    bottom: 100px;
}


